body{
    margin: 0;
    font-family: 'Nanum Pen Script', cursive;
    font-size:80%;
}
header{
    display:flex;
    background-color:#e2d4a5 ;
    align-items: top;
    flex-direction: row;
    width: 100%;
    height:180px;
    justify-content: space-between;
}


nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    height: 80px;
    margin-right: 10px;
    height: 100%;
    width: 100%;
    margin-right: 20px;
    
    }

header nav img{
    height: 35%;
    display: flex;
    justify-content: space-between;

}


.cool{

    height:80%;
}


.logos{
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 2%;
    }

.bloque1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 5%;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    justify-content: space-between;

}

.bloque1 img{
    width: 50%;
}


.bloque2 {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    padding: 5%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.bloque2 img{
    width:45%;
}


.apoyo {
    font-size: xx-large;
    color: #93b5c6;
    padding: 15px;
}

.momentos {
    font-size: xx-large;
    color: #f0cf65;
    padding: 15px;
}

.carta {
    font-size: xx-large;
    color: #d7816a;
    padding: 15px;
}

a{
    text-decoration:underline;
}

.momentos a{
    color:#f0cf65;
    
}

.carta a{
    color: #d7816a;
}

.apoyo a{
    color: #93b5c6;
}

.main {
    width: 100%;
}

.main p{
  margin-right: 10%;  
}

/*APOYO   APOYO   APOYO   APOYO   APOYO   APOYO   APOYO  APOYO   APOYO   APOYO   APOYO   APOYO   APOYO   APOYO   APOYO   APOYO*/
.headerlinks{
    padding-top: 5%;
}

.body-apoyos{
    font-size:x-large;
    margin:0%;
}

.linkscool {
    padding-left: 10% ;
    padding-right: 10%;
    padding-top: 5%;
    color: #93b5c6;
}

.apoyos{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    text-decoration: underline;
    color:#93b5c6;
}

a:hover{
    color:#d7816a;
}

.apoyos img{
    width: 40%;
}

.texto-imagen{
    display: flex;
    flex-direction: row;
    align-items: top;
}

.texto-imagen p{
    color:#93b5c6;
    padding-right: 40px;
}


.texto-imagen img{
   height:100px ;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 10px;
}

button{
    display: flex;
    align-items: center;
    background-color:#f0cf65;
    border: none;
    padding: 15px;
    border-radius: 100px;
    font-family: 'Nanum Pen Script', cursive;
    font-size:x-large;
    color: aliceblue;
    

}

button:hover{
    background-color: rgb(208, 152, 183);
}

.boton  {
    text-decoration: none;
}